body {
    margin: 0; 
    font-family: 'Shadows Into Light', cursive;
}

.container {
    margin: 0px 90px;
}
.header{
    background-image: url(HGW.jpg);
    height: 100vh;  
    background-repeat: no-repeat;
    background-size: cover;
}

.header-line {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.nav-item { 
    color: #000000;
    text-decoration: none;
    font-weight: 800;
    font-size: 30px;
    
    margin-right: 25px;
    
    transition: color 0.3s linear;
}

.nav-item:hover {
    color: #a2a2a2;
}

.hp {
    position: relative;
    
    border-right: 2px solid #FFFFFF;
    padding-right: 30px;
    height: 80px;
}

.cart-img{
    position: absolute;
    top: 16px;
    right: 7px;
}

.num {
   color: #fff;
    text-decoration: none;
        font-weight: 450;
    font-size: 20px;
    transition: color 0.2s linear;
}

.num:hover {
    color: #f29eb4;
}

.mail {
   color: #fff;
    text-decoration: none;
        font-weight: 450;
    font-size: 20px;
    transition: color 0.2s linear;
}

.mail:hover {
    color: #f29eb4;
}

.text {
    font-size: 15px;
    font-weight: 300;
    color: #fff;
}

.phone-holder {
    display: flex;
    align-items: center;
}

.button {
    background-color: black;
    text-decoration: none;
    color: #fff;
    font-weight: 150;
    font-size: 20px;
    padding: 3px 18px;
    font-weight: 1000;
    transition: background-color 0.2s linear;
}

.button:hover {
    background-color: #1018ad;
    
}

.header-down {
    position: relative;
}

.header-title {
    color: #000000;
    font-family: 'Shadows Into Light', cursive;
    font-size: 80px;
    font-weight: 700;
    
    position: absolute;
    text-align: center;
    left: 0;
    
    margin-top: 82px;
    margin-bottom: 12px;
}

.header-suptitle{
    color: #ffffff;
    font-size: 36px;
    font-family: 'Shadows Into Light', cursive;
}

.header-suptitle:after {
    position: absolute;
    content: "";
    height: 3px;
    width: 61px;
    background-color: #ffffff;
    top: 285px;
    left: 40px;
}

.header-suptitle:before {
    position: absolute;
    content: "";
    height: 3px;
    width: 61px;
    background-color: #ffffff;
    top: 285px;
    left: 350px;
}

.cards-holder {
    display:flex;
    justify-content: center;
}

.buch {
    box-shadow: 10px 10px 40px 20px #0000001A;
    width: 349px;
    margin-right: 31px;
    background-color: #fff;
    margin-top: -135px;
    padding: 0px 10px;
    background-color: #e6eced;
}

.buch-image {
    display: flex;
    justify-content: center;
    padding-top: 31px;
}

.buch-title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
    font-weight: 200;
}

.buch-title span {
    color: #ff7474;
}

.buch-desc {
    text-align: center;
    font-family: 'Kalam', cursive;
    font-size: 20px;
    font-weight: 200;
    color: #656363;
}

.ball {
    box-shadow: 10px 10px 40px 20px #0000001A;
    width: 349px;
    margin-right: 31px;
    background-color: #fff;
    margin-top: -135px;
    padding: 0px 10px;
    background-color: #e6eced;
}

.ball-image {
    display: flex;
    justify-content: center;
    padding-top: 31px;
}

.ball-title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
    font-weight: 200;
}

.ball-title span {
    color: #ff7474;
}

.ball-desc {
    text-align: center;
    font-family: 'Kalam', cursive;
    font-size: 20px;
    font-weight: 200;
    color: #656363;
}

.pc {
    box-shadow: 10px 10px 40px 20px #0000001A;
    width: 349px;
    margin-right: 31px;
    background-color: #fff;
    margin-top: -135px;
    padding: 10px 10px;
    background-color: #e6eced;
}

.pc-image {
    display: flex;
    justify-content: center;
    padding-top: 31px;
}

.pc-title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
    font-weight: 200;
}

.pc-title span {
    color: #ff7474;
}

.pc-desc {
    text-align: center;
    font-family: 'Kalam', cursive;
    font-size: 20px;
    font-weight: 200;
    color: #656363;
}

.history {
    margin-top: 166px;
}

.history-title {
    font-family: 'Kalam', cursive;
    font-size: 60px;
    font-weight: 200;
    width: 667px;
    text-align: center;
    margin-top: 20px;
    margin-left: 50px;
}

.history-title span {
    color: #ff7474;
}

.history-desc {
    color: #656363;
    font-size: 16px;
    width: 667px;
    font-family: 'Kalam', cursive;
    text-align: center;
    margin-left: 50px;
}

.history-desc>p{
    font-weight: bold;
    color: #ff7474;
}

.history-number {
    display: flex;
    width: 667px;
    justify-content: center;
    margin-top: 40px;
    margin-left: 70px;
}

.number-item {
    margin-right: 60px;
    text-align: center;
    font-size: 40px;
    color: #BC9060;
}

.number-item span{
    display: block;
    color: #000;
    font-size: 20px; 
}

.history-images{
    position: relative;
}

.history-holder {
    display: flex;
    justify-content: space-between;
}

.images-1 {
    position: absolute;
    z-index: 999;
    top: 360px;
    left: -700px;
    width: 300px;
    height: 300px;
    
}

.images-2 {
    position: absolute;
    z-index: 0;
    top: 300px;
    left: -450px;
    width: 300px;
    height: 300px;
    
}

.images-3 {
    position: absolute;
    z-index: 500;
    top: 100px;
    left: -600px;
    width: 300px;
    height: 300px;
    
}


